<!DOCTYPE html>
<html lang="en">
  <head>
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-109984075-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-109984075-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Webanet Australia">
    <meta name="author" content="Isaac Perkins <zak at webanet dot com dot au">
    <title>Preset.Cloud: Website Development Dashboard</title>
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/assets/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="/assets/css/landing/landing-page.min.css" rel="stylesheet">
    <link rel="icon" href="/assets/img/favicon.png">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "WebApplication",
        "applicationCategory": "https://en.wikipedia.org/wiki/Website_builder",
        "operatingSystem": ["Browser"],
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "ratingCount": "1"
        },
        "offers": {
          "@type": "Offer",
          "price": "0.00",
          "priceCurrency": "USD"
        }
      }
    </script>
  </head>
  <body>
    <!--<nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="http://webanet.com.au/">&#x1F310; Webanet</a>
      </div>
    </nav>-->
    <header class="masthead text-center">
      <div class="overlay"></div>
      <div class="container pt-4">
        <div class="row">
          <div class="col-xl-9 mx-auto" >
            <p class="h2 mb-5 text-muted">
              <i class="fas fa-puzzle-piece pt-2 mr-2" style="transform: rotate(60deg);"></i>
              <i class="fas fa-puzzle-piece pr-3" style="transform: rotate(120deg);"></i>
              <span class="px-3">preset.cloud</span>
              <i class="fas fa-puzzle-piece mr-3" style="transform: rotate(180deg);"></i>
              <i class="fas fa-puzzle-piece mt-3 pl-2" style="transform: rotate(240deg);"></i>
            </p>
            <h1 class="mb-5">Website Development Dashboard</h1>
            <h2>
              <a href="/login" title="Preset" class="btn btn-primary btn-lg pr-5">
                <i class="fas fa-laugh-wink mx-3 text-white"></i>Try It Now
              </a>
            </h2>
            <h3 class="mt-5">Build your own website</h3>
            <h4 class="mt-3">with our easy to use website development dashboard.</h4>
          </div>
        </div>
      </div>
    </header>
    <section class="features-icons bg-light text-center mb-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex" style="height: 140px;">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Build Your Own Free Website Today</h3>
              <h4 class="lead p mt-3">Easily create your new website <br/>with advanced templates
              &amp; themes.</h4>
              <h4 class="lead mt-4 p">Promote &amp; manage your website, shop or blog with our website development dashboard.</h4>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex" style="height: 140px;">
                <i class="fas fa-code m-auto text-primary"></i>
              </div>
              <h3>Levage Community Templates &amp; Extensions</h3>
              <h4 class="lead mt-3 p">Build your own themes, widgets and components and grow our community</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex" style="height: 140px;">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Developers ecosystem <br/> Productivity tool</h3>
              <h4 class="lead mt-4 p">Developer dashboard &amp; content management custom Bootstrap 4 based
                websites.</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/assets/img/landing/bg-showcase-1.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Build Your Own<br/>Free Website Today</h2>
            <p class="lead mb-0">Build and manage your website with our easy to use templates and website page builder.</p>
            <ul class="list-group list-group-flush mt-4">
                <li class="list-group-item">
                  <i class="fab fa-google mr-2"></i>
                  Fast setup
                </li>
                <li class="list-group-item">
                  <i class="fab fa-google mr-2"></i>
                  Quality templates ready to edited
                </li>
                <li class="list-group-item">
                  <i class="fab fa-google mr-2"></i>
                  Easily setup new pages, navigation, images etc
                </li>
                <li class="list-group-item">
                  <i class="fab fa-google mr-2"></i>
                  Components and widgets to create shops, blogs, sliders and more
                </li>
              </ul>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('/assets/img/landing/bg-showcase-2.jpg');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Extend &amp; Share</h2>
            <p class="lead mb-0">Code your own themes, widgets and components and share with the community.</p>
            <ul class="list-group list-group-flush mt-4">
                <li class="list-group-item">
                  <i class="fab fa-google mr-2"></i>
                  Search engine optimization &amp; promotion
                </li>
                <li class="list-group-item">
                    <i class="fab fa-google mr-2"></i>
                    Search engine optimization &amp; promotion
                </li>
              </ul>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/assets/img/landing/bg-showcase-3.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Content management and editor for your custom site.</h2>
            <p class="lead mb-0">Developers quickly setup new sites or upload existing. Implement widgets and components to leverage common, community pre-built tools and libraries.</p>
            <ul class="list-group list-group-flush mt-4">
              <li class="list-group-item"><i class="fa fa-file-code mr-4"></i>Automate project creation</li>
              <li class="list-group-item">
                <i class="fa fa-server fa-sm pr-4"></i>Apache
                <i class="fab fa-git fa-sm px-2"></i>
                <i class="fab fa-slack fa-sm px-2"></i>
                <i class="fab fa-google fa-sm px-1"></i>
                Analytics and Search console
              </li>
              <li class="list-group-item px-0">
                <a href="http://www.vvveb.com/" title="vvveb.com">
                  <img src="/editor/img/logo.png" title="vvvveb logo" class="" style="width: 56px;">
                </a>
                Builder &amp; Content management,
                <i class="fas fa-envelope fa-sm px-2"></i>Messages and
                <i class="fas fa-bell fa-sm px-1"></i> Alerts
              </li>
              <li class="list-group-item">
                <i class="fa fa-shopping-cart mr-4"></i>Online stores and
                <i class="fab fa-blogger-b fa-sm px-2"></i>blogs
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="testimonials text-center bg-light"> <div class="container"> <h2 class="mb-5">What people are saying...</h2> <div class="row"> <div class="col-lg-4"> <div class="testimonial-item mx-auto mb-5 mb-lg-0"> <img class="img-fluid
    rounded-circle mb-3" src="img/testimonials-1.jpg" alt=""> <h5>Margaret E.</h5> <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p> </div> </div> <div class="col-lg-4"> <div class="testimonial-item mx-auto mb-5 mb-lg-0">
    <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt=""> <h5>Fred S.</h5> <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p> </div> </div> <div
    class="col-lg-4"> <div class="testimonial-item mx-auto mb-5 mb-lg-0"> <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt=""> <h5>Sarah W.</h5> <p class="font-weight-light mb-0">"Thanks so much for making these free resources
    available to us!"</p> </div> </div> </div> </div> </section>-->
    <section class="call-to-action text-white text-center mt-5" style="background-image: url('/assets/img/landing/bg-call-to-action.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Ready to get started? Try the demo now!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <h2 class="pt-4">
              <a href="/login" title="Preset" class="btn btn-primary btn-lg pr-5">
                <i class="fas fa-laugh-wink mx-3 text-white"></i>Try It Now
              </a>
            </h2>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Webanet 2018 &#x1F310; All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="https://www.facebook.com/webanet.com.au/" title="Facebook">
                  <i class="fab fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="https://twitter.com/webanet_au" title="Twitter">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="https://github.com/webanet_au" title="Twitter">
                  <i class="fab fa-github fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>

</html>
