{% extends 'layout.twig' %}

{% block body %}

<div class="form-group">
  <label for="txt-connections-slack">
    <i class="fa fa-slack"></i>
    Slack
    <label>
    <input type="text" class="form-control shadow-sm" id="txt-conections-slack" placeholder="Slack API Key">
</div>

{% endblock %}
