header.masthead {
  position: relative;
  background-color: $gray-800;
  background: url('/assets/img/landing/bg-masthead.jpg') no-repeat center center;
  @include background-cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  .overlay {
    position: absolute;
    background-color: $gray-400;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }

  h1 {
    font-size: 2rem;
  }

  h1, h2, h3, h4, h5, p {
    color: $masthead-font-color;
    font-weight: 100;
    letter-spacing: 2px;
  }

  p.text-muted {
      color: $masthead-logo-color;
      span {
        position: relative;
        top: -10px;
      }
  }

  @media (min-width: 768px) {
    padding-top: 4.4rem;
    padding-bottom: 12rem;
    h1 {
      font-size: 3rem;
    }
  }
}
