<div class="modal fade" id="model-alert" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content border-left-alerts">
      <div class="modal-header">
        <h5 class="modal-title">
          <i class="fas fa-bell fa-fw text-alerts"></i>
          Alert
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-2">
            <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="Profile Picture">
            <div class="status-indicator bg-success"></div>
          </div>
          <div class="col-md-10 font-weight-bold">
            <div class="text-truncate">description</div>
            <div class="small text-gray-500">username · created_at</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          <i class="fa fa-times"></i>
          Close
        </button>
      </div>
    </div>
  </div>
</div>
